Hola de nuevo **Clara**!

Soy **Patricio Requena** üëã. Es un placer ser el revisor de tu proyecto el d√≠a de hoy!

Revisar√© tu proyecto detenidamente con el objetivo de ayudarte a mejorar y perfeccionar tus habilidades. Durante mi revisi√≥n, identificar√© √°reas donde puedas hacer mejoras en tu c√≥digo, se√±alando espec√≠ficamente qu√© y c√≥mo podr√≠as ajustar para optimizar el rendimiento y la claridad de tu proyecto. Adem√°s, es importante para m√≠ destacar los aspectos que has manejado excepcionalmente bien. Reconocer tus fortalezas te ayudar√° a entender qu√© t√©cnicas y m√©todos est√°n funcionando a tu favor y c√≥mo puedes aplicarlos en futuras tareas. 

_**Recuerda que al final de este notebook encontrar√°s un comentario general de mi parte**_, empecemos!

Encontrar√°s mis comentarios dentro de cajas verdes, amarillas o rojas, ‚ö†Ô∏è **por favor, no muevas, modifiques o borres mis comentarios** ‚ö†Ô∏è:


<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class=‚ÄútocSkip‚Äù></a>
Si todo est√° perfecto.
</div>

<div class="alert alert-block alert-warning">
<b>Comentario del revisor</b> <a class=‚ÄútocSkip‚Äù></a>
Si tu c√≥digo est√° bien pero se puede mejorar o hay alg√∫n detalle que le hace falta.
</div>

<div class="alert alert-block alert-danger">
<b>Comentario del revisor</b> <a class=‚ÄútocSkip‚Äù></a>
Si de pronto hace falta algo o existe alg√∫n problema con tu c√≥digo o conclusiones.
</div>

Puedes responderme de esta forma:
<div class="alert alert-block alert-info">
<b>Respuesta del estudiante</b> <a class=‚ÄútocSkip‚Äù></a>
Much√≠simas gracias por las observaciones ü§ó
</div>

# Introducci√≥n 

El presente proyecto se centra en el an√°lisis de una base de datos proporcionada por uno de estos servicios emergentes en el mercado literario digital. La base de datos incluye informaci√≥n detallada sobre libros, editoriales, autores, calificaciones de clientes y rese√±as de libros. El objetivo principal de este an√°lisis es generar una propuesta de valor s√≥lida para un nuevo producto que pueda satisfacer mejor las necesidades de los lectores contempor√°neos.

A trav√©s de un an√°lisis exhaustivo de los datos, se explorar√°n diversas m√©tricas clave, como el n√∫mero de libros publicados, la calidad de las calificaciones, y el nivel de compromiso de los usuarios. Adem√°s, se identificar√°n tendencias y patrones que puedan informar el desarrollo de caracter√≠sticas innovadoras y atractivas para la nueva aplicaci√≥n.

En un mundo donde la lectura digital est√° en auge, este proyecto tiene el potencial de aportar insights valiosos que ayuden a crear una plataforma de lectura m√°s intuitiva y personalizada, fomentando una experiencia de usuario enriquecedora y alineada con las expectativas del lector moderno.

### Objetivos del Estudio

El presente estudio tiene como prop√≥sito principal analizar los datos proporcionados por un servicio emergente en el mercado literario digital para generar una propuesta de valor que mejore la experiencia de los usuarios y satisfaga mejor sus necesidades. Para lograr este prop√≥sito, se han definido los siguientes objetivos espec√≠ficos:

1. **Analizar la Producci√≥n Editorial Reciente**:
   - **Objetivo**: Evaluar la cantidad de libros publicados despu√©s del 1 de enero de 2000 para entender la tendencia de producci√≥n editorial en los √∫ltimos a√±os.

2. **Evaluar la Calidad del Contenido Literario**:
   - **Objetivo**: Determinar la calificaci√≥n promedio de los libros y analizar las opiniones de los usuarios para evaluar la calidad del contenido ofrecido.

3. **Identificar la Editorial M√°s Activa**:
   - **Objetivo**: Identificar la editorial que ha publicado el mayor n√∫mero de libros con m√°s de 50 p√°ginas, excluyendo as√≠ folletos y publicaciones menores.

4. **Determinar el Autor con Mejor Calificaci√≥n Promedio**:
   - **Objetivo**: Identificar al autor que tiene la calificaci√≥n promedio m√°s alta, considerando solo los libros con al menos 50 calificaciones.

5. **Evaluar el Nivel de Compromiso de los Usuarios**:
   - **Objetivo**: Analizar el n√∫mero promedio de rese√±as de texto entre los usuarios que han calificado m√°s de 50 libros para entender el nivel de compromiso y participaci√≥n.
  
6. **Generar una Propuesta de Valor**:
   - **Objetivo**: Utilizar los insights obtenidos del an√°lisis de datos para desarrollar una propuesta de valor que optimice la experiencia del usuario en la nueva aplicaci√≥n.

<div class="alert alert-block alert-success">
<b>Comentario del revisor (1ra Iteracion)</b> <a class=‚ÄútocSkip‚Äù></a>

Buen detalle el incluir la introducci√≥n al proyecto, esto hace que tu notebook sea mucho m√°s f√°cil de entender. Te animo a continuar con esta pr√°ctica!
</div>

In [1]:
# Importacion de librerias necesarias
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# C√≥digo para la conexi√≥n a la base de datos 
db_config = {
 'user': 'practicum_student', # username
 'pwd': 'QnmDH8Sc2TQLvy2G3Vvh7', # password
 'host': 'yp-trainers-practicum.cluster-czs0gxyx2d8w.us-east-1.rds.amazonaws.com',
 'port': 5432, # connection port
 'db': 'data-analyst-final-project-db' # the name of the database
 }
connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],

db_config['pwd'],

db_config['host'],
db_config['port'],

db_config['db'])

engine = create_engine(connection_string, connect_args={'sslmode':'require'})
                                                        
#pd.io.sql.read_sql(query, con = engine)

In [22]:
# Lista de nombres de las tablas a consultar
tables = ["books", "authors", "ratings", "reviews", "publishers"]

# Ciclo for para ejecutar las consultas y mostrar los resultados
for table in tables:
    query = f"SELECT * FROM {table}"
    table_data = pd.read_sql(query, con = engine)
    print(f"Primeras filas de la tabla {table}: ")
    display(table_data.head())
    print("\n")

Primeras filas de la tabla books:

,book_id,author_id,title,num_pages,publication_date,publisher_id
0,1,546,'Salem's Lot,594,2005-11-01,93
1,2,465,1 000 Places to See Before You Die,992,2003-05-22,336
2,3,407,13 Little Blue Envelopes (Little Blue Envelope...,322,2010-12-21,135
3,4,82,1491: New Revelations of the Americas Before C...,541,2006-10-10,309
4,5,125,1776,386,2006-07-04,268

Primeras filas de la tabla authors:

   author_id                          author
0          1                      A.S. Byatt
1          2  Aesop/Laura Harris/Laura Gibbs
2          3                 Agatha Christie
3          4                   Alan Brennert
4          5        Alan Moore/David   Lloyd

Primeras filas de la tabla ratings:

   rating_id  book_id       username  rating
0          1        1     ryanfranco       4
1          2        1  grantpatricia       2
2          3        1   brandtandrea       5
3          4        2       lorichen       3
4          5        2    mariokeller       2

Primeras filas de la tabla reviews:

,review_id,book_id,username,text
0,1,1,brandtandrea,Mention society tell send professor analysis. ...
1,2,1,ryanfranco,Foot glass pretty audience hit themselves. Amo...
2,3,2,lorichen,Listen treat keep worry. Miss husband tax but ...
3,4,3,johnsonamanda,Finally month interesting blue could nature cu...
4,5,3,scotttamara,Nation purpose heavy give wait song will. List...

Primeras filas de la tabla publishers:

   publisher_id                          publisher
0             1                                Ace
1             2                           Ace Book
2             3                          Ace Books
3             4                      Ace Hardcover
4             5  Addison Wesley Publishing Company

#### Encuentra el n√∫mero de libros publicados despu√©s del 1 de enero de 2000.

In [4]:
# Consulta SQL con COUNT
query_1 = "SELECT COUNT(book_id) AS num_books FROM books WHERE publication_date > '2000-01-01'"

# Ejecutar la consulta y cargar los resultados en un DataFrame
num_books_df = pd.read_sql(query_1, con=engine)

# Obtener el n√∫mero de libros del DataFrame
num_books = num_books_df['num_books'].iloc[0]

print(f"N√∫mero de libros publicados despu√©s del 1 de enero de 2000: {num_books}")

N√∫mero de libros publicados despu√©s del 1 de enero de 2000: 819

El hecho de que se hayan publicado 819 libros despu√©s del 1 de enero de 2000 refleja una r√°pida adaptaci√≥n y respuesta del mercado editorial a las cambiantes demandas de los consumidores. Las editoriales han estado activamente produciendo contenido nuevo para mantener el inter√©s de los lectores durante estos tiempos.

Para las startups que compiten en este mercado, este n√∫mero indica una oportunidad significativa para integrar una amplia gama de nuevos t√≠tulos en sus aplicaciones. Esto no solo atraer√° a usuarios √°vidos de nuevas lecturas, sino que tambi√©n les permitir√° ofrecer un cat√°logo actualizado y relevante.

<div class="alert alert-block alert-success">
<b>Comentario del revisor (1ra Iteracion)</b> <a class=‚ÄútocSkip‚Äù></a>

Buen trabajo con el c√°lculo! Aplicaste el filtro correcto para obtener los datos
</div>

#### Encuentra el n√∫mero de rese√±as de usuarios y la calificaci√≥n promedio para cada libro.

In [17]:
# Creaci√≥n de la consulta 
query_2 = """SELECT books.title, COUNT(DISTINCT reviews.review_id) AS num_reviews, AVG(ratings.rating) AS avg_rating
             FROM books
             LEFT JOIN reviews ON books.book_id = reviews.book_id
             LEFT JOIN ratings ON books.book_id = ratings.book_id
             GROUP BY 
             books.title; """


# Ejecutar la consulta y cargar los resultados en un DataFrame 
results_df = pd.read_sql(query_2, con=engine) 

# Mostrar los resultados usando display() 
display(results_df)

,title,num_reviews,avg_rating
0,1 000 Places to See Before You Die,1,2.500000
1,13 Little Blue Envelopes (Little Blue Envelope...,3,4.666667
2,1491: New Revelations of the Americas Before C...,2,4.500000
3,1776,4,4.000000
4,1st to Die (Women's Murder Club #1),4,3.500000
...,...,...,...
994,Wyrd Sisters (Discworld #6; Witches #2),3,3.666667
995,Xenocide (Ender's Saga #3),3,3.400000
996,Year of Wonders,4,3.200000
997,You Suck (A Love Story #2),2,4.500000
998,Zen and the Art of Motorcycle Maintenance: An ...,4,3.833333

La cantidad de rese√±as por libro var√≠a significativamente, desde una √∫nica rese√±a hasta cuatro rese√±as en los ejemplos proporcionados. Esto sugiere que algunos libros tienen un mayor nivel de participaci√≥n de los usuarios que otros, lo cual podr√≠a estar influenciado por factores como la popularidad del libro, la campa√±a de marketing y la accesibilidad.

<div class="alert alert-block alert-danger">
<b>Comentario del revisor (1ra Iteracion)</b> <a class=‚ÄútocSkip‚Äù></a>

Aqu√≠ debes hacer uso de JOIN para que puedes usar la informaci√≥n de las tablas `books`, `reviews` y `ratings` que es donde est√°n las columnas para que saques el resultado correcto y recuerda que solo debes usar python para hacer `display()` de tus resultados nada m√°s
</div>

<div class="alert alert-block alert-success">
<b>Comentario del revisor (2da Iteracion)</b> <a class=‚ÄútocSkip‚Äù></a>

Muy bien! Ahora aplicaste los JOIN necesario para tomar los datos de las diferentes tablas
</div>

#### Identifica la editorial que ha publicado el mayor n√∫mero de libros con m√°s de 50 p√°ginas (esto te ayudar√° a excluir folletos y publicaciones similares de tu an√°lisis).

In [20]:
# Creaci√≥n de la consulta 
query_4 = """SELECT publishers.publisher AS publi, COUNT(DISTINCT books.book_id) AS books_cnt 
             FROM books 
             INNER JOIN publishers ON publishers.publisher_id = books.publisher_id 
             WHERE books.num_pages > 50 
             GROUP BY publishers.publisher 
             ORDER BY books_cnt DESC 
             LIMIT 1;"""

# Ejecutar la consulta y cargar los resultados en un DataFrame
pub_df = pd.read_sql(query_4, con=engine)

#Impresi√≥n de resultados
display(pub_df)

           publi  books_cnt
0  Penguin Books         42

Este resultado sugiere que Penguin Books podr√≠a ser una editorial clave a considerar para colaboraciones o an√°lisis de mercado futuros. Su capacidad para publicar un n√∫mero significativo de libros m√°s sustanciosos indica una infraestructura editorial robusta y un compromiso con la publicaci√≥n de obras de calidad.

<div class="alert alert-block alert-success">
<b>Comentario del revisor (1ra Iteracion)</b> <a class=‚ÄútocSkip‚Äù></a>

Perfecto!
</div>

#### Identifica al autor que tiene la m√°s alta calificaci√≥n promedio del libro: mira solo los libros con al menos 50 calificaciones.

In [23]:
# Creaci√≥n de la consulta 
query_5 = """ SELECT authors.author AS author_name, AVG(ratings.rating) AS rating_avg
              FROM books
              INNER JOIN ratings ON books.book_id = ratings.book_id
              INNER JOIN authors ON books.author_id = authors.author_id
              WHERE books.book_id IN (
                  SELECT book_id 
                  FROM ratings 
                  GROUP BY book_id 
                  HAVING COUNT(rating) >= 50)
              GROUP BY authors.author
              ORDER BY rating_avg DESC
              LIMIT 1; """

# Ejecutar la consulta y cargar los resultados en un DataFrame
author_df = pd.read_sql(query_5, con=engine)

#Impresi√≥n de resultados
display(author_df)

                  author_name  rating_avg
0  J.K. Rowling/Mary GrandPr√©    4.287097

J.K. Rowling, con la colaboraci√≥n de Mary GrandPr√© en las ilustraciones, se destaca significativamente en t√©rminos de calidad literaria, seg√∫n la percepci√≥n de los usuarios. Una calificaci√≥n promedio de 4.29, basada en libros con al menos 50 calificaciones, es un fuerte indicador de la consistencia y excelencia en la producci√≥n de contenido.

Para la nueva aplicaci√≥n, destacar las obras de J.K. Rowling puede ser una estrategia efectiva para atraer y retener a los usuarios. Promocionar autores con altas calificaciones puede mejorar la percepci√≥n de calidad de la plataforma y atraer a lectores que buscan contenido altamente valorado.

<div class="alert alert-block alert-danger">
<b>Comentario del revisor (1ra Iteracion)</b> <a class=‚ÄútocSkip‚Äù></a>

Aqu√≠ deber√≠as hacer uso de subconsultas, una para obtener primero los book_id que tengan m√≠nimo 50 ratings y con ese resultado debes hacer el JOIN con la tabla de authors para sacar el promedio del rating
</div>

<div class="alert alert-block alert-success">
<b>Comentario del revisor (2da Iteracion)</b> <a class=‚ÄútocSkip‚Äù></a>

Correcto! Ahora obtuviste el autor correcto
</div>

#### Encuentra el n√∫mero promedio de rese√±as de texto entre los usuarios que calificaron m√°s de 50 libros.

In [9]:
# Consulta SQL con subconsultas anidadas
query_6 = """SELECT AVG(SUBQ2.review_cnt) AS avg_review_cnt
             FROM (SELECT COUNT(reviews.review_id) AS review_cnt, SUBQ1.username
                   FROM (SELECT username, COUNT(rating_id) AS rating_cnt
                         FROM ratings
                         GROUP BY username
                         HAVING COUNT(rating_id) > 50) AS SUBQ1
             INNER JOIN reviews ON reviews.username = SUBQ1.username
             GROUP BY SUBQ1.username) AS SUBQ2 """

# Ejecutar la consulta y cargar los resultados en un DataFrame
avg_reviews_df = pd.read_sql(query_6, con=engine)

# Mostrar el n√∫mero promedio de rese√±as de texto
print(avg_reviews_df)

   avg_review_cnt
0       24.333333

El hecho de que los usuarios que calificaron m√°s de 50 libros hayan dejado un promedio de aproximadamente 24.33 rese√±as de texto indica un alto nivel de compromiso y participaci√≥n. Estos usuarios no solo califican los libros, sino que tambi√©n se toman el tiempo para escribir rese√±as detalladas, lo cual es un indicador de una comunidad activa y entusiasta.

<div class="alert alert-block alert-success">
<b>Comentario del revisor (1ra Iteracion)</b> <a class=‚ÄútocSkip‚Äù></a>

Muy bien utilizada la subconsulta para primero tomar los usuarios y el total para luego sacar el promedio!
</div>

# Conclusi√≥n

El an√°lisis de la base de datos proporcionada por el servicio emergente en el mercado literario digital ha revelado una serie de insights valiosos que pueden informar el desarrollo de una propuesta de valor s√≥lida para una nueva aplicaci√≥n de lectura. A continuaci√≥n, se resumen los hallazgos m√°s relevantes:

1. **Producci√≥n Editorial Activa**:
   - Desde el 1 de enero de 2000, se han publicado 819 libros, indicando una producci√≥n editorial robusta y adaptativa a las demandas cambiantes del mercado. Esto refleja la capacidad de las editoriales para mantenerse relevantes en tiempos de crisis y cambios globales, como lo fue la pandemia del coronavirus.

2. **Cantidad de rese√±as por libro**:
   - La cantidad de rese√±as por libro var√≠a significativamente, desde una √∫nica rese√±a hasta cuatro rese√±as en los ejemplos proporcionados. Esto sugiere que algunos libros tienen un mayor nivel de participaci√≥n de los usuarios que otros, lo cual podr√≠a estar influenciado por factores como la popularidad del libro, la campa√±a de marketing y la accesibilidad..

3. **Calidad Literaria de Diana Gabaldon**:
   - Identificar a J.K. Rowling como el autor con la m√°s alta calificaci√≥n promedio proporciona una valiosa oportunidad para desarrollar estrategias de contenido y marketing que mejoren la experiencia del usuario y el √©xito de la nueva aplicaci√≥n. Los libros de J.K. Rowling, especialmente la serie de Harry Potter, no solo atraen a muchos lectores, sino que tambi√©n son altamente valorados por ellos, indicando una base de seguidores leales y satisfechos.

4. **Compromiso de los Usuarios**:
   - Los usuarios que han calificado m√°s de 50 libros han dejado un promedio de 24.33 rese√±as de texto. Este alto nivel de participaci√≥n y feedback cualitativo refleja una comunidad activa y comprometida, lo cual es un activo valioso para cualquier plataforma literaria.

### Implicaciones y Oportunidades

- **Desarrollo de Propuestas de Valor**: Los insights obtenidos pueden ser utilizados para desarrollar caracter√≠sticas innovadoras y personalizadas en la nueva aplicaci√≥n. Destacar autores populares y de alta calidad, como Diana Gabaldon, y colaborar con editoriales l√≠deres, como Penguin Books, puede atraer y retener a los usuarios.

- **Estrategias de Fomento de Participaci√≥n**: Implementar programas de incentivos y recompensas para fomentar la escritura de rese√±as de texto puede aumentar a√∫n m√°s la participaci√≥n de los usuarios y enriquecer la plataforma con feedback valioso.

- **Optimizaci√≥n de Contenidos**: Ofrecer un cat√°logo variado y de alta calidad, basado en las tendencias y preferencias reveladas por el an√°lisis, puede mejorar la experiencia del usuario y satisfacer las necesidades de los lectores contempor√°neos.

<div class="alert alert-block alert-success">
<b>Comentario del revisor (2da Iteracion)</b> <a class=‚ÄútocSkip‚Äù></a>

Buen trabajo con los √∫ltimos cambios Clara! SQL es un lenguaje que ver√°s con mucha frecuencia en tu vida laboral por lo que si te recomendar√≠a darle alg√∫n tiempo de pr√°ctica m√°s para que mejores tus habilidades con este lenguaje y que puedas destacar en el mercado laboral.
    
Saludos!
</div>